<% content_for :title, "Company management" %>
<% content_for :content do %>
<div class="wrapper">
  <div class="main-wrapper row">
    <div class="col-lg-12 col-sm-12 title-main">
      <h4 class="m-0">Company Management</h4>
    </div>
    <%= form_with(url: company_profiles_path, method: "get" ,class: "col-lg-12 col-sm-12", id: "company-management-frm") do |form| %>
      <table id="table-company-frm" class="table col-lg-5 col-sm-5 mt-4">
        <tr>
          <td><label>Company</label><td>
          <td>
            <div class="row form-group">
              <div class="col-sm-4">
                <%= form.select :code, @codeCompanyProfiles, { selected: @params["code"] }, { class: "form-control" } %>
              </div>
              <div class="col-sm-8">
                <input type="text" name="company_name" id="company_name" class="form-control" aria-describedby="emailHelp" placeholder="Please enter Company name" value=<%= @params["company_name"] %>>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="email">Email</label><td>
          <td>
            <div class="row form-group">
              <div class="col-sm-8">
                <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Please enter Email" value=<%= @params["email"] %>>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="phone_number">Phone number</label><td>
          <td>
            <div class="row form-group">
              <div class="col-sm-8">
                <input type="text" id="phone_number" name="phone_number" class="form-control" aria-describedby="emailHelp" placeholder="Please enter Phone number" value=<%= @params["phone_number"] %>>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="phone_number">Release Date</label><td>
          <td>
            <div class="row form-group">
              <div class="col-sm-8">
                <input type="date" id="release_date" name="release_date" class="form-control" aria-describedby="emailHelp" placeholder="Please enter Phone number" value=<%= @params["release_date"] %>>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="exampleInputEmail1">Status</label><td>
          <td>
            <div class="row form-group">
              <div class="col-sm-8">
                <%= form.select :status, [["Status", ""],["Stopped", "0"],["Working", "1"],["Pending", "2"]], {selected: @params["status"]}, {class: "form-control"} %>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <hr>
      <div class="col-lg-12 col-sm-12 d-flex justify-content-end align-items-center my-4">
        <ul class="nav profile-group-btn">
          <li class="nav-item">
            <%= link_to "Register", { controller: 'profiles' , action: 'new' }, class: "btn btn-success btn-register" %>
          </li>
          <li class="nav-item">
            <%= form.submit :Search, { class: "btn btn-primary btn-search" } %>
          </li>
          <li class="nav-item">
            <%= link_to "Back", company_url(@company), { class: "btn btn-dark" } %>
          </li>
        </ul>
      </div>
    <% end %>
    <% if @profiles.count > 0 %>
    <div class="col-lg-12 col-sm-12">
      <div class="table-company">
        <table id="table-company-content" class="table">
          <thead>
            <tr>
              <th width="10%" class="col-content" scope="col">Code</th>
              <th width="15%" class="col-content" scope="col">Company name</th>
              <th width="15%" class="col-content" scope="col">Email</th>
              <th width="15%" class="col-content" scope="col">Phone number</th>
              <th width="15%" class="col-content" scope="col">Release date</th>
              <th width="15%" class="col-content" scope="col">Status</th>
              <th width="15%" class="col-content" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @profiles.each do |profile| %>
              <tr>
                <td class="col-content"><%= profile.code %></th>
                <td class="col-content"><%= profile.company_name %></td>
                <td class="col-content"><%= profile.email %></td>
                <td class="col-content"><%= profile.phone_number %></td>
                <td class="col-content"><%= profile.release_date.to_time.strftime("%d/%m/%Y") %></td>
                <% if profile.status == 0 %>
                  <td class="col-content"><span class="btn btn-dark btn-status-stop">Stopped</span></td>
                <% elsif profile.status == 1 %>
                  <td class="col-content"><span class="btn btn-dark btn-status-working">Working</span></td>
                <% elsif profile.status == 2 %>
                  <td class="col-content"><span class="btn btn-dark btn-status-pending">Pending</span></td>
                <% else %>
                  <td class="col-content"></td>
                <% end %>
                <td class="col-content">
                  <%= link_to 'Detail', company_profile_path(@company.code, profile.profile_id), class: "btn btn-dark btn-detail mr-2" %>
                  <%= link_to 'Delete', company_profile_path(@company.code, profile.profile_id), method: :DELETE, data: { confirm: 'Are you sure?' }, class: "btn btn-dark btn-remove", html: { value: "Delete" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="paginator d-flex align-items-center justify-content-between">
        <%= form_with(url: "/profiles", method: "get", class: "d-flex align-items-center", id: "form_per_page") do |form| %>
          <label class="d-block" for="per_page">Row per page</label>
          <%= form.select :per_page , [[5,5], [10,10], [20,20], [50, 50]], { selected: @per_page  }, {class: "form-control d-block"} %>
          <%= form.hidden_field :code, value: @params[:code] %>
          <%= form.hidden_field :company_name, value: @params[:company_name] %>
          <%= form.hidden_field :email, value: @params[:email] %>
          <%= form.hidden_field :phone_number, value: @params[:phone_number] %>
          <%= form.hidden_field :status, value: @params[:status] %>
        <% end %>
        <div class="total-page d-flex align-items-center justify-content-between">
          <% current_page = @profiles.current_page %>
          <% total = @profiles.count %>
          <% per_page_right = @per_page.to_i >= total ? total : @per_page.to_i %>
          <% first_page = (current_page - 1)*per_page_right + 1 %>
          <% last_page = current_page <= total/per_page_right ? per_page_right*current_page : total %>
          <span class="mr-3"><%= first_page%>-<%= last_page%> of <%= total %></span>
          <%= will_paginate @profiles, :previous_label => 'Previous', :next_label => 'Next'%>
        </div>
      </div>
    </div>
    <% else %>
      <h3 class="text-danger text-center w-100">Không có bản ghi</h3>
    <% end %>
  </div>
</div>
<% end %>
