<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @profile.profile_id %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @profile.company_name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
